.photo-shall-wrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #dbddff;

    .shell {
        --size: 100px;
        display: grid;
        grid-template-columns: repeat(8, var(--size));
        grid-auto-rows: var(--size);
        place-items: start center;
        gap: 15px;
        margin-bottom: 50px;

        &:hover img:not(:hover) {
            filter: brightness(0.5) contrast(0.8);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: rotate(-45deg) scale(1.5);
            transition: .05s;
        }

        .box {
            width: 130px;
            height: 130px;
            position: relative;
            overflow: hidden;
            transform: rotate(45deg);
            display: flex;
            grid-column: auto / span 2;
            border-radius: 10px;
            box-shadow: 5px 0 5px #000027;
            border: 5px solid #fff;
            cursor: pointer;
            transition: .3s;

            &:nth-child(7n - 2) {
                grid-column: 2 / span 2;
            }

            &:hover {
                transform: rotate(0) scale(1.6);
                z-index: 1;
            }
        }
    }
}