.adou-retrieve-select-wrapper {

    .adou-retrieve-select-content-box {

        .adou-retrieve-select {
            &-list-box {
                position: relative;
                flex: 1;
                cursor: text !important;
                flex-wrap: wrap;
            }

            &-icon-box {

                .adou-retrieve-select-icon {
                    transition: transform 0.2s;

                    &.rotate-up {
                        transform: rotate(90deg);
                    }
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
            }

            &-option-icon {
                position: absolute;
                right: 6px;
                top: -2px;
                cursor: pointer;
                transition: all 0.3s ease;
                color: #000;

                &:hover {
                    color: #dc3545;
                    transform: scale(1.2);
                }



            }

            &-input-control {
                flex: 1;
            }

            &-input {
                // min-width: 120px;
                width: 100%;
                outline: none;
                border: none;
            }

            &-clear-icon {

                cursor: pointer;
                transition: all 0.3s;
                color: #c6c6cd;

                &:hover {
                    transform: scale(1.2);
                    color: red !important;
                }
            }
        }



        .adou-retrieve-selectd-option {
            color: #212529;
            font-size: 14px;
            padding: 3px 22px 3px 12px;
            border-radius: 13px;
            background-color: #f4f4f5;
            position: relative;
            margin-right: 6px;
        }



    }





}




.adou-retrieve-select-content {
    min-width: 200px;
    background-color: #fff;
    position: absolute;
    z-index: 10000;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align-last: left;
    overflow: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;

    .adou-retrieve-select-option {
        padding: 5px 10px;
        // margin-bottom: 2px;

        &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }

        &:active {
            color: #fff;
            // background-color: #2783d8 !important;
        }
    }

    .adou-retrieve-select-option-active {
        font-weight: bold;
        background-color: #2783d8;
        display: flex;
        justify-content: space-between;

        &::after {
            content: "✔";
        }
    }

    .adou-retrieve-select-option-focused {
        background-color: #e0e0e0;
        /* 高亮当前聚焦的选项 */
    }

    .adou-retrieve-select-none-match {
        padding: 10px 0;
        height: 100px;
        font-style: italic;
        color: #a4a3a3;
    }

}

.adou-retrieve-select-content-open {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scaleY(1) !important;
}