.multiple-select-wrapper {
    position: relative;
}
.multiple-select-active {
    background-color: rgba(25, 103, 210);
}
.multiple-select-option-wrapper {
    padding: 14px;
}
.multiple-select-active::after {
    content: "✔";
}
/* .selected-option {
    position: absolute;
    padding: 4px 10px;
    border-radius: 50%;
    background-color: #f0f0f0;
    top: 3px;
} */