.tag-input-wrapper {
    height: 100%;
    border: none;

    &.disabled {

        .input,
        .tag-input-wrapper,
        .adou-input-form-content {
            background: var(--bs-secondary-bg);
        }
    }

    .tag-input-content {
        display: flex;
        flex-wrap: wrap;

        .tag-input-list {
            padding: 0;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap; // 不写这个太窄的话会挤在一起

            .list-item {
                color: #7e8085;
                list-style-type: none;
                font-size: 14px;
                padding: 3px 22px 3px 12px;
                border-radius: 13px;
                background-color: #f4f4f5;
                position: relative;
                margin-right: 6px;
                margin-bottom: 6px;

                .item-icon {
                    color: #999ba1;
                    position: absolute;
                    right: 10px;
                    bottom: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    .tag-input-control {
        flex: 1;

        .input {
            min-width: 120px;
            width: 100%;
            outline: none;
            border: none;
        }
    }
}

.focus {
    border-color: #80bdff;
    /* 设置输入框获得焦点时的边框颜色 */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.313);
    /* 设置输入框获得焦点时的阴影效果 */
}

.adou-input-wrapper {

    .adou-input {

        &-form-content {
            height: 100%;
            border-radius: 0.375rem;
            // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); 加上这个在 borderless 情况下底部会有条线
            transition: background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease;

            .input-box {
                width: 100%;
            }
        }

        &-label-vertical {
            display: flex;
            align-items: self-start;
            justify-content: center;
            flex-direction: column;
        }

        &-label-horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .adou-input-label-box {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-label-horizontal-top {
            display: flex;
            justify-content: center;
            align-items: self-start;
            flex-direction: row;
        }

        &-clear-icon-box {
            width: 24px;
            text-align: right;
            display: flex;
            align-items: center;
        }

        &-clear-icon {

            cursor: pointer;
            transition: all 0.3s;
            color: #c6c6cd;

            &:hover {
                transform: scale(1.2);
                color: red !important;
            }
        }

        /* .input {
            background-color: var(--bs-body-bg) !important;
        } */
    }
}

.dark-mode .adou-input-wrapper {
    .adou-input-form-content {
        border-color: var(--bs-dark-border-subtle) !important;
    }

    &.disabled {

        .input,
        .adou-input-form-content {
            background-color: var(--bs-secondary-bg) !important;
        }
    }
}