/* Rate.scss */
.rate {
  display: inline-flex;
  align-items: center;

  .rate-star {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: gray;
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    cursor: pointer;

    &.full,
    &.half {
      background: #f7ba2a;
    }

    .rate-half {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: transparent;
      clip-path: polygon(50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          50% 70%,
          50% 91%,
          2% 35%,
          39% 35%);
    }

    &:hover .rate-half {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}