.adou-live-search-wrapper {
    .adou-live-search-form-content {
        .adou-live-search {
            &-clear-icon {
                cursor: pointer;
                transition: all 0.3s;
                color: #c6c6cd;

                &:hover {
                    transform: scale(1.2);
                    color: red !important;
                }
            }

            &-input-control {
                flex: 1;

                .adou-live-search-input {
                    // min-width: 120px;
                    width: 100%;
                    outline: none;
                    border: none;
                }
            }
        }
    }

}



.adou-live-search-content {
    min-width: 200px;
    background-color: #fff;
    position: absolute;
    z-index: 10000;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align-last: left;
    overflow: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;

    &-open {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }


    .adou-live-search-option {
        padding: 5px 10px;
        // margin-bottom: 2px;

        &-active {
            font-weight: bold;
            background-color: #2783d8;
            display: flex;
            justify-content: space-between;
        }


        &-active::after {
            content: "✔";
        }



        &-focused {
            background-color: #e0e0e0 !important;
            /* 高亮当前聚焦的选项 */
        }

        &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }

        &:active {
            color: #fff;
            // background-color: #2783d8 !important;
        }
    }

    .none-option {
        width: 200px;
        height: 50px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #a4a3a3;
    }

    .none-match {
        padding: 10px 0;
        height: 100px;
        font-style: italic;
        color: #a4a3a3;
    }
}