/* 定义 fadeInDown 动画关键帧 */
@keyframes fade-in-Down {
    from {
        /* 初始状态，透明度为 0，向上偏移一定距离（这里设置为 -20px，可以根据实际需求调整） */
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        /* 最终状态，完全显示，位置正常 */
        opacity: 1;
        transform: translateY(0px);
    }
}

/* 应用 fadeInDown 动画到具体元素的类名 */
.fadeInDown {
    /* 使用 animation 属性来应用动画，指定动画名称、持续时间、动画曲线、延迟时间和播放次数等 */
    animation: fade-in-Down .5s ease-in-out 0s 1;
}

/* 定义 fadeInUp 动画关键帧 */
@keyframes fadeInUp {
    from {
        /* 初始状态，透明度为 0，向下偏移一定距离（这里设置为 20px，可按需调整） */
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        /* 最终状态，完全显示，位置正常 */
        opacity: 1;
        transform: translateY(0);
    }
}

/* 应用 fadeInUp 动画到具体元素的类名 */
.fadeInUp {
    animation: fadeInUp 1s ease-in-out 0s 1;
}